.nav-bar{
    border: 1px rgb(255, 255, 255) solid;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 5px;
    position: fixed;
    z-index: 2;
}   

 
#nav-home{
    list-style: none;
    background-color: white;
    font-size: large;
    color: black;
    float: left;
    position: absolute;
    left: 30%;

}
.nav-bar #nav-home a{
    text-decoration: none;
    color: black;
}

#nav-home a:hover{
    /*background-color: rgb(202, 202, 202);*/
    color: rgba(0, 75, 75, 0.616);
}
#nav-about{
    list-style: none;
    background-color: white;
    font-size: large;
    color: black;
    float: left;
    position: absolute;
    left: 40%;
    
}
.nav-bar #nav-about a{
    text-decoration: none;
    color: black;
}
#nav-about a:hover{
    /*background-color: rgb(202, 202, 202);*/
    color: rgba(0, 75, 75, 0.616);
}
#nav-login{
    list-style: none;
    background-color: white;
    font-size: large;
    color: black;
    float: left;
    position: absolute;
    left: 83%;

}
.nav-bar #nav-login a{
    text-decoration: none;
    color: black;
}
#nav-login a:hover{
    color: rgb(0, 184, 0);
}
#nav-signup{
    list-style: none;
    background-color: white;
    font-size: large;
    color: black;
    float: left;
    position: absolute;
    left: 90%;
}

.nav-bar #nav-signup a{
    text-decoration: none;
    color: black;
}
#nav-signup a:hover{
    color: rgb(0, 184, 0);
}

#nav-blog{
    list-style: none;
    background-color: white;
    font-size: large;
    color: black;
    float: left;
    position: absolute;
    left: 55%;
    
}

.nav-bar #nav-blog a{
    text-decoration: none;
    color: black;
}
#nav-blog a:hover{
    /*background-color: rgb(202, 202, 202);*/
    color: rgba(0, 75, 75, 0.616);
}
.title{
    text-align: center;
    margin: 100px 0px 50px 0px;

    
}
.container{
    margin: 0px 20px 0px 20px; 
}
