.container{
    position: absolute;
    right: 0%;
    top: 0%;
    background-color: white;
    width: 620px;
    height: 100%;
}
.container2{
    position: relative;
    top: 15%;
    left: 30%;
    width: 200px;
    height: 200px;
}
.login-image{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
}
.title{
    text-align: center;
    margin-bottom: 60px;
    color: #383838;
}

input{
    background: none;
    width: 250px;
    height: 25px;
    border-width: 1px;
    padding-left: 10px;
    margin: 5px 0px 20px 0px;
    border: 1px solid grey;
    border-top: none;
    border-left: none;
    border-right: none;
}
input:hover{
    border-color: rgb(255, 176, 57);
    transition: 0.2s;
}

.forms p{
    color: rgb(78, 78, 78);
    font-size: 14px;
    padding-bottom: 10px;
}
.btn-signin{
    position: relative;
    left: 40%;
    background-color: rgb(112, 112, 112);
    border: none;
    width: 115px;
    height: 30px;
    text-align: center;
    color: white;
    font-size: 14px;
    border-radius: 20px;
}
.forgot{
    position: relative;
    left: 100%;
    top: -30px;
    color: blue;
}
a{
    text-decoration: none;
}
.forgot:hover{
    color: blue;
    text-decoration: dashed;
}
.btn-signin:hover{
    background-color: rgb(255, 176, 57);
    transition: 0.2s;
}
.errorMessage{
    color: red;
    margin-bottom: 25px;
}
.successMessage{
    color: green;
}