body{
    background-color: rgb(235, 235, 235);
    color: #353535;
}
.container{
    margin: 0% 10% 0% 10%;
}
.container2{
    margin: 0% 5% 0% 5%;
}


.nav-bar{
    border: 1px #353535 solid;
    background-color: #353535;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 5px;
    position: fixed;
    z-index: 2;
}   

 
#nav-home{
    list-style: none;
    font-size: large;
    letter-spacing: 1px;
    color: black;
    float: left;
    position: absolute;
    left: 27%;

}
.nav-bar #nav-home a{
    text-decoration: none;
    color: white;
}

#nav-home a:hover{
    /*background-color: rgb(202, 202, 202);*/
    color: rgb(255, 73, 73);
    transition: 0.4s;

}
#nav-getresources{
    list-style: none;
    font-size: large;
    letter-spacing: 1px;
    color: black;
    float: left;
    position: absolute;
    left: 37%;
    
}
.nav-bar #nav-getresources a{
    text-decoration: none;
    color: white;
}
#nav-getresources a:hover{
    /*background-color: rgb(202, 202, 202);*/
    color: rgb(255, 73, 73);
    transition: 0.4s;
}

#nav-blog{
    list-style: none;
    font-size: large;
    letter-spacing: 1px;
    color: #0c243c;
    float: left;
    position: absolute;
    left: 50%;
    
}

.nav-bar #nav-blog a{
    text-decoration: none;
    color: white;
}
#nav-blog a:hover{
    /*background-color: rgb(202, 202, 202);*/
    color: rgb(255, 73, 73);
    transition: 0.4s;
}


#nav-upload{
    list-style: none;
    font-size: large;
    letter-spacing: 1px;
    color: #0c243c;
    float: left;
    position: absolute;
    left: 59%;
    
}

.nav-bar #nav-upload a{
    text-decoration: none;
    color: white;
}
#nav-upload a:hover{
    /*background-color: rgb(202, 202, 202);*/
    color: rgb(255, 73, 73);
    transition: 0.4s;
}

#nav-logout {
    list-style: none;
    font-size: large;
    letter-spacing: 1px;
    text-align: center;
    width: 100px;
    height: 20px;
    padding: 5px 0px 5px 0px;
    float: left;
    position: absolute;
    left: 83%;
    top: 10px;
    border-radius: 10px;
}

.nav-bar #nav-logout a {
    text-decoration: none;
    color: rgb(255, 50, 50);
}

#nav-logout a:hover {
    color: rgb(255, 112, 112);
    transition: 0.4s;
}


.title{
    position: relative;
    top: 80px;
    text-align: center;
    margin: 0px 0px 100px 0px;
}
.add_blog{
    position: fixed;
    top: 38px;
    left: 3.15%;
    font-size: larger;
    font-weight: bold;
    background-color: red;
    padding: 3px 6px 3px 6px;
    border-radius: 5px;
    color: white;
    z-index:7;
}
.add_blog:hover{
    background-color: rgb(238, 0, 0);
    color: white;
    transition: 0.4s;
}
.blog_list{
    position: relative;
    left: 1%;
    width: 30%;
    margin: 0px 0px 20px 20px;
    padding: 0px 0px 50px 0px;
    border: none;
    background-color: white;
    text-align: center;
    float: left;
}
.blog_list:hover{
    filter: brightness(85%);
    transition: 0.4s;
}
.cover_image{
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
.blog_title{
    color: #353535;
    font-weight: bold;
    font-size: larger;
    padding: 10px 20px 10px 20px;
}
.date{
    color: #8f8f8f;
    
}