@import url('https://unpkg.com/css.gg@2.0.0/icons/css/log-out.css');



body{
    background-color: rgb(235, 235, 235);
    color: #353535;
    font-family: 'Varela Round', sans-serif;
}
.container{
    margin: 0% 10% 90% 10%;
}
.container2{
    margin: 450px 5% 50% 5%;
}


.nav-bar {
    border: 1px black solid;
    background-color: black;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 5px none;
    z-index: 2;
    transition: top 0.5s ease;
}

.nav-bar.hidden {
    top: -50px;
}

#nav-home,
#nav-getresources,
#nav-blog,
#nav-upload {
    list-style: none;
    background: none;
    font-size: large;
    letter-spacing: 1px;

}

.nav-bar a {
    text-decoration: none;
    color: aqua;
}

#nav-home a{
    position: absolute;
    top: 14px;
    left: 27%;
    background-color: none;

}
#nav-blog a:hover {
    transition: 0.4s;
    color: rgb(255, 73, 73);
    border-bottom: 2px solid rgb(255, 73, 73);
}


#nav-getresources a{
    position: absolute;
    top: 14px;
    left: 37%;
    height: 34.5px;
    background-color: none;

}


#nav-blog a{
    position: absolute;
    top: 14px;
    left: 50%;
    height: 34.5px;
    border-bottom: 2px solid aqua;
}

#nav-upload a{
    position: absolute;
    top: 14px;
    left: 59%;
}
#nav-home a, #nav-getresources a, #nav-upload a{
    position: absolute;
    height: 34.5px;
    background-color: none;
}
#nav-home a:hover, #nav-getresources a:hover, #nav-upload a:hover{
    color: rgb(255, 73, 73);
    transition: 0.4s;
    border-bottom: 1px solid rgb(255, 73, 73);
}
#nav-logout {
    position: absolute;
    left: 90%;
    top: 12px;
    list-style: none;
    font-size: large;
    letter-spacing: 1px;
    text-align: center;
    width: 100px;
    height: 20px;
    padding: 5px 0px 5px 0px;
    float: left;
    border-radius: 10px;
}

#nav-logout i {
    position: relative;
    top: -1px;
    left: -60px;
    text-decoration: none;
    color: rgb(255, 50, 50);
}

#nav-logout i:hover {
    color: rgb(255, 112, 112);
    transition: 0.4s;
}
.front_image {
    position: absolute;
    top: 6%;
    left: 0%;
    width: 100%;
    height: 70%;
    filter: opacity(100%) brightness(100%);
    z-index: -1;
}

.front_title{
    position: relative;
    top: 150px;
    left: 100px;
    background-color: none;
    width: 500px;
    font-size: 60px;
    font-weight: bold;
}
.front_title2{
    position: relative;
    top: 100px;
    left: 400px;
    background-color: none;
    width: 200px;
    margin-bottom: -120px;
    border-bottom: 3px solid purple;
    font-size: 90px;
    font-weight: bold;
    color: purple;
}

.add_blog{
    position: fixed;
    top: 38px;
    left: 3.15%;
    font-size: larger;
    font-weight: bold;
    background-color: red;
    padding: 3px 6px 3px 6px;
    border-radius: 5px;
    color: white;
    z-index:7;
}
.add_blog:hover{
    background-color: rgb(238, 0, 0);
    color: white;
    transition: 0.4s;
}
.blog_list{
    position: relative;
    left: 1%;
    width: 30%;
    height: 350px;
    border: none;
    margin: -70px 30px 110px 0px;
    background-color: white;
    text-align: center;
    float: left;
}
.blog_list:hover{
    filter: brightness(85%);
    transition: 0.4s;
}
.cover_image{
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
.blog_title{
    color: #353535;
    font-weight: bold;
    font-size: larger;
    padding: 10px 20px 10px 20px;
}
.date{
    color: #8f8f8f;
    
}




footer{
    width: 100%;
    height: 550px;
    text-align: center;
    color: white;
    background-color: #252525;
    font-family: 'Varela Round', sans-serif;
}
.top{
    position: relative;
    left: 15px;
    background-color: rgb(0, 182, 182);
    border-radius: 0px 0px 20px 20px;
    width: 97.4%;
    height: 300px;
}
.founded{
    position: absolute;
    top: 70px;
    left: 40px;
    color: black;
}
.founded .title{
    position: relative;
    top: 11px;
    background-color: none;
    border: 1px solid black;
    border-radius: 35px;
    color: black;
    text-align: center;
    width: 100px;
    padding: 0 10px 0 10px;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 1px;
}
.founded .body{
    position: absolute;
    top: -44px;
    left: 100px;
    border: 1px solid black;
    border-left: none;
    border-bottom: none;
    border-right: none;
    width: 250px;
    padding-top: 20px;
    padding-left: 10px;
    background-color: none;
    font-size: 55px;
}
.top_location{
    position: absolute;
    top: 70px;
    left: 500px;
    color: black;
}
.top_location .title{
    position: relative;
    top: 11px;
    background-color: none;
    border: 1px solid black;
    border-radius: 35px;
    color: black;
    text-align: center;
    width: 100px;
    padding: 0 10px 0 10px;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 1px;
}
.top_location .body{
    position: absolute;
    top: -44px;
    left: 100px;
    width: 550px;
    padding-top: 20px;
    padding-left: 10px;
    background-color: none;
    border: 1px solid black;
    border-left: none;
    border-bottom: none;
    border-right: none;
    font-size: 55px;
}
.get_intouch{
    margin-left: 6%;
    margin-top: 33px;
}
.get_intouch .title{
    background-color: none;
    position: relative;
    top: 11px;
    left: 0px;
    text-align: left;
    margin-bottom: -22px;
    color: grey;
    font-weight: bold;
    font-size: medium;
    letter-spacing: 0;
}
.get_intouch .body{
    position: relative;
    top: 25px;
    text-align: left;
    background-color: none;
    margin-bottom: -10px;
}

.connect{
    margin-top: -33px;
    margin-left: 42%;
}
.connect .title{
    background-color: none;
    position: relative;
    top: 11px;
    left: 0px;
    text-align: left;
    margin-bottom: -22px;
    color: grey;
    font-size: medium;
    font-weight: bold;
    letter-spacing: 0;
}
.connect .body{
    position: relative;
    top: 25px;
    text-align: left;
    background-color: none;
    margin-bottom: -10px;
}

.detail{
    margin-top: -60px;
    margin-left: 70%;
}
.detail .title{
    background-color: none;
    position: relative;
    top: 11px;
    left: 0px;
    text-align: left;
    margin-bottom: -22px;
    color: rgb(163, 163, 163);
    font-weight: bold;
    font-size: medium;
    letter-spacing: 0;
}
.detail .body{
    position: relative;
    top: 25px;
    text-align: left;
    background-color: none;
    margin-bottom: -10px;
}