@import url('https://unpkg.com/css.gg@2.0.0/icons/css/log-out.css');



body {
    background-color: rgb(241, 241, 241);
    color: #353535;
    font-family: 'Varela Round', sans-serif;
}

.container2 {
    position: relative;
    top: 100px;
    background-color: none;
    margin: 0% 5% 0% 5%;
}

.nav-bar {
    border: 1px black solid;
    background-color: black;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 5px none;
    z-index: 2;
    transition: top 0.5s ease;
}

.nav-bar.hidden {
    top: -52px;
}

#nav-home,
#nav-getresources,
#nav-blog,
#nav-upload {
    list-style: none;
    background: none;
    font-size: large;
    letter-spacing: 1px;

}

.nav-bar a {
    text-decoration: none;
    color: aqua;
}

#nav-home a{
    position: absolute;
    top: 14px;
    left: 27%;
    background-color: none;

}
#nav-getresources a:hover {
    transition: 0.4s;
    color: rgb(255, 73, 73);
    border-bottom: 1px solid rgb(255, 73, 73);
}


#nav-getresources a{
    position: absolute;
    top: 14px;
    left: 37%;
    height: 34.5px;
    background-color: none;
    border-bottom: 2px solid aqua;
}

#nav-blog {
    position: absolute;
    top: 14px;
    left: 50%;
}

#nav-upload a{
    position: absolute;
    top: 14px;
    left: 59%;
}
#nav-home a, #nav-blog a, #nav-upload a{
    position: absolute;
    height: 34.5px;
    background-color: none;
}
#nav-home a:hover, #nav-blog a:hover, #nav-upload a:hover{
    color: rgb(255, 73, 73);
    transition: 0.4s;
    border-bottom: 1px solid rgb(255, 73, 73);
}
#nav-logout {
    position: absolute;
    left: 90%;
    top: 12px;
    list-style: none;
    font-size: large;
    letter-spacing: 1px;
    text-align: center;
    width: 100px;
    height: 20px;
    padding: 5px 0px 5px 0px;
    float: left;
    border-radius: 10px;
}

#nav-logout i {
    position: relative;
    top: -1px;
    left: -60px;
    text-decoration: none;
    color: rgb(255, 50, 50);
}

#nav-logout i:hover {
    color: rgb(255, 112, 112);
    transition: 0.4s;
}

.resource_image {
    position: absolute;
    top: 6%;
    left: 0%;
    width: 100%;
    height: 95%;
    filter: opacity(100%) brightness(100%);
    z-index: -1;
}

.title {
    position: relative;
    top: 150px;
    left: 40px;
    background-color: none;
    width: 500px;
    font-size: 60px;
    font-weight: bold;
}
.title2{
    position: relative;
    top: 0px;
    left: 160px;
    background-color: none;
    width: 200px;
    margin-bottom: -120px;
    border-bottom: 3px solid purple;
    font-size: 80px;
    font-weight: bold;
    color: purple;
}

.container2 {
    position: relative;
    top: 300px;
}


.front_links {
    position: relative;
    top: 260px;
    left: 15%;
    width: 750px;
    height: 100px;
}

.books_front_link {
    font-size: 20px;
    font-weight: bold;
    width: 57px;
    padding-bottom: 5px;
    color: purple;
    border-bottom: 3px solid transparent;
}

.curriculums_front_link {
    position: relative;
    top: -54px;
    left: 130px;
    font-size: 20px;
    font-weight: bold;
    width: 112px;
    padding-bottom: 5px;
    color: purple;
    border-bottom: 3px solid transparent;
}

.lectures_front_link {
    position: relative;
    top: -107px;
    left: 310px;
    font-size: 20px;
    font-weight: bold;
    width: 76px;
    padding-bottom: 5px;
    color: purple;
    border-bottom: 3px solid transparent;
}

.mid-exams_front_link {
    position: relative;
    top: -159px;
    left: 450px;
    font-size: 20px;
    font-weight: bold;
    width: 105px;
    padding-bottom: 5px;
    color: purple;
    border-bottom: 3px solid transparent;
}

.final-exams_front_link {
    position: relative;
    top: -212px;
    left: 620px;
    font-size: 20px;
    font-weight: bold;
    width: 110px;
    padding-bottom: 5px;
    color: purple;
    border-bottom: 3px solid transparent;
}
.tutorials_front_link {
    position: relative;
    top: -263px;
    left: 780px;
    font-size: 20px;
    font-weight: bold;
    width: 78px;
    padding-bottom: 5px;
    color: purple;
    border-bottom: 3px solid transparent;
}

.books_front_link:hover,
.curriculums_front_link:hover,
.lectures_front_link:hover,
.mid-exams_front_link:hover,
.final-exams_front_link:hover, 
.tutorials_front_link:hover{
    color: black;
    border-color: purple;
    transition: 0.45s;
}


.books {
    position: relative;
    top: 80px;
    text-align: center;
    padding-top: 70px;
    margin: 0px 0px 100px 0px;
}

.upload {
    position: relative;
    top: -48px;
    left: 60%;
    background-color: none;
    width: 100px;
    height: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

/* Books view Styles */
.books {
    margin-top: 60px;
}

.class1 {
    position: relative;
    left: 1%;
    width: 30%;
    height: 550px;
    margin: 0px 0px 80px 20px;
    padding: 0px 0px 0px 0px;
    border: none;
    font-weight: bold;
    background-color: rgb(213, 249, 255);
    border-radius: 10px;
    text-align: center;
    float: left;
}

.class2 {
    position: relative;
    left: 1%;
    width: 30%;
    height: 550px;
    margin: 0px 0px 80px 20px;
    padding: 0px 0px 0px 0px;
    border: none;
    font-weight: bold;
    background-color: #87d8fd;
    border-radius: 10px;
    text-align: center;
    float: left;
}

.books_list:hover {
    filter: brightness(95%);
    background-color: #87d8fd;
    transition: 0.4s;
}

.cover_image {
    width: 100%;
    height: 260px;
    border-radius: 10px;
}

a {
    color: #353535;
    text-decoration: none;
}

.book_icon i {
    position: relative;
    top: -50px;
    left: 3%;
    font-size: 80px;
    margin: 0px 0px 0px 0px;
    color: #353535;
}

.download_icon {
    position: relative;
    top: -80px;
    left: 60%;
    font-size: 30px;
    margin: 0px 0px -25px 0px;
    background-color: none;
    width: 50px;
    height: 0px;
    color: #353535;
}

.download_icon:hover {
    color: #353535;
}

/* Curriculums view Styles */
.curriculums {
    font-size: 30px;
    font-weight: bold;
    padding-top: 70px;
    margin-top: 115%;
}

.pdf_icon i {
    position: relative;
    top: -35px;
    left: 3%;
    font-size: 50px;
    margin: 0px 0px -10px 0px;
    color: orangered;
}

.pdf_icon:hover {
    color: rgb(81, 255, 0);
}

.curriculums_list {
    position: relative;
    left: 1%;
    width: 30%;
    height: 200px;
    text-align: center;
    margin: 20px 0px 20px 20px;
    padding: 50px 0px 50px 0px;
    border: none;
    background-color: rgb(218, 218, 218);
    color: black;
    border-radius: 10px;
    font-weight: bold;
    float: left;
}

.curriculums_list:hover {
    filter: brightness(95%);
    transition: 0.4s;
}

.curriculums_list .department {
    margin-top: -40px;
    margin-bottom: 30px;
}

.curriculums_list .description {
    color: #353535;
    opacity: 85%;
    font-size: 15px;
}


/* Lectures view Styles */

.lectures {
    font-size: 30px;
    font-weight: bold;
    padding-top: 70px;
    margin-top: 35%;
}

.file_icon i {
    position: relative;
    top: -35px;
    left: 3%;
    font-size: 60px;
    margin: 0px 0px 0px 0px;
    color: #353535;
}

.file_icon:hover {
    color: rgb(81, 255, 0);
}

.file_download_icon {
    position: relative;
    top: -50px;
    left: 55%;
    font-size: 30px;
    margin: 0px 0px 80px 0px;
    background-color: none;
    width: 50px;
    height: 0px;
    color: #353535;
}

.file_download_icon:hover {
    color: #353535;
}

.lectures_course_name {
    margin: -60px 0px 0px 0px;
}

.lectures_title {
    margin: 10px 0px 0px 0px;
}

.lectures_list {
    position: relative;
    left: 1%;
    width: 30%;
    height: 125px;
    text-align: center;
    margin: 20px 0px 20px 20px;
    padding: 50px 0px 50px 0px;
    border: none;
    background-color: rgb(218, 218, 218);
    color: black;
    border-radius: 10px;
    font-weight: bold;
    float: left;
}

.lectures_list:hover {
    filter: brightness(95%);
    transition: 0.4s;
}

/* Mid-exams view Styles */

.mid_exams {
    font-size: 30px;
    font-weight: bold;
    padding-top: 70px;
    margin-top: 35%;
}
.mid_exams_title {
    margin: 20px 0px 0px 0px;
}


.mid_exams_file_icon i {
    position: relative;
    top: -35px;
    left: 3%;
    font-size: 60px;
    margin: 0px 0px 0px 0px;
    color: #353535;
}

.mid_exams_file_icon:hover {
    color: rgb(81, 255, 0);
}

.mid_exams_file_download_icon {
    position: relative;
    top: -50px;
    left: 55%;
    font-size: 30px;
    margin: 0px 0px 80px 0px;
    background-color: none;
    width: 50px;
    height: 0px;
    color: #353535;
}

.mid_exams_file_download_icon:hover {
    color: #353535;
}

.mid_exams_course_name {
    margin: -60px 0px 0px 0px;
}

.mid_exams_list {
    position: relative;
    left: 1%;
    width: 30%;
    height: 120px;
    text-align: center;
    margin: 20px 0px 20px 20px;
    padding: 50px 0px 50px 0px;
    border: none;
    background-color: rgb(218, 218, 218);
    color: black;
    border-radius: 10px;
    font-weight: bold;
    float: left;
}

.mid_exams_list:hover {
    filter: brightness(95%);
    transition: 0.4s;
}


/* Final-exams view Styles */

.final_exams {
    font-size: 30px;
    font-weight: bold;
    padding-top: 70px;
    margin-top: 35%;
}
.final_exams_title {
    margin: 20px 0px 0px 0px;
}


.final_exams_file_icon i {
    position: relative;
    top: -35px;
    left: 3%;
    font-size: 60px;
    margin: 0px 0px 0px 0px;
    color: #353535;
}

.final_exams_file_icon:hover {
    color: rgb(81, 255, 0);
}

.final_exams_file_download_icon {
    position: relative;
    top: -50px;
    left: 55%;
    font-size: 30px;
    margin: 0px 0px 80px 0px;
    background-color: none;
    width: 50px;
    height: 0px;
    color: #353535;
}

.final_exams_file_download_icon:hover {
    color: #353535;
}

.final_exams_course_name {
    margin: -60px 0px 0px 0px;
}

.final_exams_list {
    position: relative;
    left: 1%;
    width: 30%;
    height: 120px;
    text-align: center;
    margin: 20px 0px 20px 20px;
    padding: 50px 0px 50px 0px;
    border: none;
    background-color: rgb(218, 218, 218);
    color: black;
    border-radius: 10px;
    font-weight: bold;
    float: left;
}

.final_exams_list:hover {
    filter: brightness(95%);
    transition: 0.4s;
}



/* video_tutorials view Styles */

.video_tutorials {
    font-size: 30px;
    font-weight: bold;
    padding-top: 70px;
    margin-top: 35%;
}
.video_tutorials_title {
    margin: 20px 0px 0px 0px;
}


.video_tutorials_youtube_icon i {
    position: relative;
    top: -35px;
    left: 3%;
    font-size: 60px;
    margin: 0px 0px 0px 0px;
    color: #353535;
}

.video_tutorials_youtube_icon i:hover {
    color: white;
}

.video_tutorials_course_name {
    margin: 0px 0px 0px 0px;
}

.video_tutorials_list {
    position: relative;
    left: 1%;
    width: 30%;
    height: 120px;
    text-align: center;
    margin: 20px 0px 20px 20px;
    padding: 50px 20px 70px 20px;
    border: none;
    background-color: rgb(218, 218, 218);
    color: black;
    border-radius: 10px;
    font-weight: bold;
    float: left;
}

.video_tutorials_list:hover {
    .video_tutorials_youtube_icon i{
        color: red;
        transition: 0.1s;
    }
    filter: brightness(94%);
    transition: 0.8s;
}





footer {
    position: relative;
    left: -8px;
    top: 8px;
    width: 101%;
    height: 550px;
    text-align: center;
    color: white;
    margin-top: 700px;
    background-color: #252525;
    font-family: 'Varela Round', sans-serif;
}

.top {
    position: relative;
    left: 15px;
    background-color: rgb(0, 182, 182);
    border-radius: 0px 0px 20px 20px;
    width: 97.4%;
    height: 300px;
}

.founded {
    position: absolute;
    top: 70px;
    left: 40px;
    color: black;
}

.founded .title {
    position: relative;
    top: 11px;
    background-color: none;
    border: 1px solid black;
    border-radius: 35px;
    color: black;
    text-align: center;
    width: 100px;
    padding: 0 10px 0 10px;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 1px;
}

.founded .body {
    position: absolute;
    top: -44px;
    left: 100px;
    border: 1px solid black;
    border-left: none;
    border-bottom: none;
    border-right: none;
    width: 250px;
    padding-top: 20px;
    padding-left: 10px;
    background-color: none;
    font-size: 55px;
}

.top_location {
    position: absolute;
    top: 70px;
    left: 500px;
    color: black;
}

.top_location .title {
    position: relative;
    top: 11px;
    background-color: none;
    border: 1px solid black;
    border-radius: 35px;
    color: black;
    text-align: center;
    width: 100px;
    padding: 0 10px 0 10px;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 1px;
}

.top_location .body {
    position: absolute;
    top: -44px;
    left: 100px;
    width: 550px;
    padding-top: 20px;
    padding-left: 10px;
    background-color: none;
    border: 1px solid black;
    border-left: none;
    border-bottom: none;
    border-right: none;
    font-size: 55px;
}

.get_intouch {
    position: absolute;
    top: 330px;
    left: 6%;
}

.get_intouch .title {
    background-color: none;
    position: relative;
    top: 11px;
    left: 0px;
    text-align: left;
    margin-bottom: -22px;
    color: grey;
    font-weight: bold;
    font-size: medium;
    letter-spacing: 0;
}

.get_intouch .body {
    position: relative;
    top: 25px;
    text-align: left;
    margin-bottom: -10px;
}

.connect {
    position: absolute;
    top: 330px;
    left: 42%;
}

.connect .title {
    background-color: none;
    position: relative;
    top: 11px;
    left: 0px;
    text-align: left;
    margin-bottom: -22px;
    color: grey;
    font-size: medium;
    font-weight: bold;
    letter-spacing: 0;
}

.connect .body {
    position: relative;
    top: 25px;
    text-align: left;
    background-color: none;
    margin-bottom: -10px;
}

.detail {
    position: absolute;
    top: 330px;
    left: 70%;
}

.detail .title {
    background-color: none;
    position: relative;
    top: 11px;
    left: 0px;
    text-align: left;
    margin-bottom: -22px;
    color: rgb(163, 163, 163);
    font-weight: bold;
    font-size: medium;
    letter-spacing: 0;
}

.detail .body {
    position: relative;
    top: 25px;
    text-align: left;
    background-color: none;
    margin-bottom: -10px;
}