@import url('https://unpkg.com/css.gg@2.0.0/icons/css/log-out.css');



body{
    color: #353535;
    background-color: white;
    line-height: 24pt;
    font-family: 'Varela Round', sans-serif;
}


.nav-bar {
    border: 1px #353535 solid;
    background-color: #353535;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 5px none;
    position: fixed;
    z-index: 2;
}


#nav-home {
    list-style: none;
    background: none;
    font-size: large;
    letter-spacing: 1px;
    position: absolute;
    top: 10px;
    left: 27%;

}

.nav-bar #nav-home a {
    text-decoration: none;
    color: white;
}

#nav-home a:hover {
    /*background-color: rgb(202, 202, 202);*/
    color: rgb(255, 73, 73);
    transition: 0.4s;
}

#nav-getresources {
    list-style: none;
    background: none;
    font-size: large;
    letter-spacing: 1px;
    float: left;
    position: absolute;
    top: 10px;
    left: 37%;

}

.nav-bar #nav-getresources a {
    text-decoration: none;
    color: white;
}

#nav-getresources a:hover {
    /*background-color: rgb(202, 202, 202);*/
    color: rgb(255, 73, 73);
    transition: 0.4s;
}
#nav-blog {
    list-style: none;
    background: none;
    font-size: large;
    letter-spacing: 1px;
    float: left;
    position: absolute;
    top: 10px;
    left: 50%;

}

.nav-bar #nav-blog a {
    text-decoration: none;
    color: white;
}

#nav-blog a:hover {
    color: rgb(255, 73, 73);
    transition: 0.4s;
}

#nav-upload{
    list-style: none;
    font-size: large;
    letter-spacing: 1px;
    color: #0c243c;
    float: left;
    position: absolute;
    top: 10px;
    left: 59%;
    
}

.nav-bar #nav-upload a{
    text-decoration: none;
    color: white;
}
#nav-upload a:hover{
    /*background-color: rgb(202, 202, 202);*/
    color: rgb(255, 73, 73);
    transition: 0.4s;
}


#nav-logout {
    position: absolute;
    left: 90%;
    top: 12px;
    list-style: none;
    font-size: large;
    letter-spacing: 1px;
    text-align: center;
    width: 100px;
    height: 20px;
    padding: 5px 0px 5px 0px;
    float: left;
    border-radius: 10px;
}

.nav-bar #nav-logout i{
    text-decoration: none;
    color: rgb(255, 50, 50);
}

#nav-logout i:hover {
    color: rgb(255, 112, 112);
    transition: 0.4s;
}
.nav-bar #nav-logout .account_icon i{
    position: relative;
    top: -23px;
    left: -25px;
    color: rgba(230, 230, 230, 0.644);
}

.home-image {
    position: absolute;
    top: -5%;
    left: 0%;
    width: 100%;
    height: 80%;
    filter: opacity(98%) brightness(75%);
    z-index: -1;
}

.title {
    position: absolute;
    top: 22%;
    left: 38%;
    text-align: center;
    color: white;
    font-size: 35px;
    font-weight: 10;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}

.title2 {
    position: absolute;
    top: 28%;
    left: 18%;
    text-align: center;
    color: aqua;
    filter: brightness(120%);
    letter-spacing: 6px;
    font-size: 70px;
    font-weight: 10;
    font-family: 'Roboto', sans-serif;
}
.contacts{
    position: relative;
    top: 380px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: none;
    margin-bottom: 20px;
}
.facebook{
    position: relative;
    top: 11.2px;
    background-color: none;
    color: aqua;
    padding: 10px 10px 10px 10px;
    font-size: 40px;
    font-weight: bold;
}
.facebook:hover{
    color: rgb(238, 238, 238);
}
.instagram{
    position: relative;
    top: 11.2px;
    background-color: none;
    color: aqua;
    padding: 10px 10px 10px 10px;
    font-size: 40px;
}
.linkedin{
    position: relative;
    top: 11.2px;
    background-color: none;
    color: aqua;
    padding: 10px 10px 10px 10px;
    font-size: 40px;
}
.twitter{
    position: relative;
    top: 11.2px;
    background-color: none;
    color: aqua;
    padding: 10px 10px 10px 10px;
    font-size: 40px;
}
.google{
    position: relative;
    top: 11.2px;
    background-color: none;
    color: aqua;
    padding: 10px 10px 10px 10px;
    font-size: 40px;
}

.about_image{
    position: relative;
    top: 450px;
    left: 150px;
    width: 35%;
    height: 500px;
    z-index: -5;
}

.about {
    position: relative;
    top: -55px;
    left: 30%;
    background-color: none;
    width: 50%;
    font-size: 75px;
    letter-spacing: 10px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    z-index: 1;
}
.about_body{
    position: relative;
    top: -20px;
    left: 50%;
    text-align: left;
    width: 45%;
    margin-bottom: 75px;
    background-color: none;

}
.about_body2{
    position: relative;
    left: -518px;
    width: 1100px;
    background-color: none;
}
.why{
    font-size: 50px;
    font-weight: Medium;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    font-weight: 600;
}
.why_body{
    position: relative;
    left: 140px;
    width: 80%;
    background-color: none;
}
.products_title{
    text-align: center;
    margin: 100px 0px 40px 0px;
    font-size: 50px;
    background-color: none;
    font-family: 'Varela Round', sans-serif;
    font-weight: 600;
}
.products_body{
    position: relative;
    left: 140px;
    width: 80%;
    text-align: center;
    background-color: none;
}
.books_title{
    position: relative;
    top: 5px;
    left: 140px;
    width: 80%;
    background-color: none;
    text-align: left;
    margin: 100px 0px 0px 0px;
    font-family: 'Varela Round', sans-serif;
    font-size: 35px;
    font-weight: 600;
}
.books_image{
    position: relative;
    top: -30px;
    left: 60%;
    width: 400px;
    height: 350px;
}
.book_icon i{
    position: relative;
    top: -280px;
    left: 3%;
    font-size: 80px;
    margin: 0px 0px 0px 0px;
    color: #353535;
}
.books_body{
    position: relative;
    top: -420px;
    left: 140px;
    width: 45%;
    background-color: none;
}

.blogs{
    position: relative;
    top: -250px;
}
.blogs_title{
    position: relative;
    top: 30px;
    right: 140px;
    width: 80%;
    background-color: none;
    text-align: right;
    margin: 0px 0px 30px 0px;
    font-family: 'Varela Round', sans-serif;
    font-size: 35px;
    font-weight: 600;
}
.blogs_image{
    position: relative;
    top: -50px;
    left: 10%;
    width: 400px;
    height: 400px;
}
.blogs_icon i{
    position: relative;
    top: -340px;
    left: 90%;
    font-size: 80px;
    margin: 0px 0px 0px 0px;
    color: #353535;
}
.blogs_body{
    position: relative;
    top: -470px;
    left: 44%;
    width: 45%;
    text-justify: auto;
    background-color: none;
}


.roadmaps{
    position: relative;
    top: -570px;
    height: 400px;
    background-color: none;
}

.roadmaps_title{
    position: relative;
    top: 5px;
    left: 140px;
    width: 80%;
    background-color: none;
    text-align: left;
    margin: 100px 0px 0px 0px;
    font-family: 'Varela Round', sans-serif;
    font-size: 35px;
    font-weight: 600;
}
.roadmaps_image{
    position: relative;
    top: -50px;
    left: 60%;
    width: 400px;
    height: 350px;
}
.roadmaps_icon i{
    position: relative;
    top: -280px;
    left: 3%;
    font-size: 80px;
    margin: 0px 0px 0px 0px;
    color: #353535;
}
.roadmaps_body{
    position: relative;
    top: -420px;
    left: 140px;
    width: 45%;
    background-color: none;
}
.recommendations{
    position: relative;
    top: -570px;
    height: 400px;
    background-color: none;
}
.recommendations_title{
    position: relative;
    top: 30px;
    right: 0;
    width: 80%;
    background-color: none;
    text-align: right;
    margin: 100px 0px 50px 0px;
    font-family: 'Varela Round', sans-serif;
    font-size: 35px;
    font-weight: 600;
}
.recommendations_image{
    position: relative;
    top: -50px;
    left: 10%;
    width: 400px;
    height: 320px;
}
.recommendations_icon i{
    position: relative;
    top: -280px;
    left: 90%;
    font-size: 80px;
    margin: 0px 0px 0px 0px;
    color: #353535;
}
.recommendations_body{
    position: relative;
    top: -420px;
    left: 44%;
    width: 45%;
    background-color: none;
}










footer{
    position: relative;
    left: -8px;
    top: 8px;
    width: 101%;
    height: 550px;
    margin-top: -400px;
    text-align: center;
    color: white;
    background-color: #252525;
    font-family: 'Varela Round', sans-serif;
}
.top{
    position: relative;
    left: 15px;
    background-color: rgb(0, 182, 182);
    border-radius: 0px 0px 20px 20px;
    width: 97.4%;
    height: 300px;
}
.founded{
    position: absolute;
    top: 70px;
    left: 40px;
    color: black;
}
.founded .title{
    background-color: none;
    border: 1px solid black;
    border-radius: 35px;
    color: black;
    text-align: center;
    width: 100px;
    padding: 0 10px 0 10px;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 1px;
}
.founded .body{
    position: absolute;
    top: -44px;
    left: 100px;
    border: 1px solid black;
    border-left: none;
    border-bottom: none;
    border-right: none;
    width: 250px;
    padding-top: 20px;
    padding-left: 10px;
    background-color: none;
    font-size: 55px;
}
.top_location{
    position: absolute;
    top: 70px;
    left: 500px;
    color: black;
}
.top_location .title{
    background-color: none;
    border: 1px solid black;
    border-radius: 35px;
    color: black;
    text-align: center;
    width: 100px;
    padding: 0 10px 0 10px;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 1px;
}
.top_location .body{
    position: absolute;
    top: -44px;
    left: 100px;
    width: 550px;
    padding-top: 20px;
    padding-left: 10px;
    background-color: none;
    border: 1px solid black;
    border-left: none;
    border-bottom: none;
    border-right: none;
    font-size: 55px;
}
.get_intouch{
    position: absolute;
    top: 330px;
    left: 6%;
}
.get_intouch .title{
    background-color: none;
    position: relative;
    left: 0px;
    text-align: left;
    margin-bottom: -22px;
    color: grey;
    font-weight: bold;
    font-size: medium;
    letter-spacing: 0;
}
.get_intouch .body{
    text-align: left;
}

.connect{
    position: absolute;
    top: 330px;
    left: 42%;
}
.connect .title{
    background-color: none;
    position: relative;
    left: 0px;
    text-align: left;
    margin-bottom: -22px;
    color: grey;
    font-size: medium;
    font-weight: bold;
    letter-spacing: 0;
}
.connect .body{
    text-align: left;
    background-color: none;
    margin-bottom: -20px;
}

.detail{
    position: absolute;
    top: 330px;
    left: 70%;
}
.detail .title{
    background-color: none;
    position: relative;
    left: 0px;
    text-align: left;
    margin-bottom: -22px;
    color: rgb(163, 163, 163);
    font-weight: bold;
    font-size: medium;
    letter-spacing: 0;
}
.detail .body{
    text-align: left;
    background-color: none;
    margin-bottom: -20px;
}