.container {
    position: absolute;
    right: 0%;
    top: 0%;
    background-color: rgb(252, 252, 252);
    width: 682px;
    height: 100%;
}

.container2 {
    position: relative;
    top: 15%;
    left: 30%;
    width: 200px;
    height: 200px;
}

.nav-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px white solid;
    background-color: white;
    box-shadow: 0px 0px 5px black;
    /*opacity: 85%;*/
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 2;
}


#nav-home {
    list-style: none;
    font-size: large;
    letter-spacing: 1px;
    color: black;
    float: left;
    position: absolute;
    left: 30%;

}

.nav-bar #nav-home a {
    text-decoration: none;
    color: black;
}

#nav-home a:hover {
    /*background-color: rgb(202, 202, 202);*/
    color: rgb(235, 235, 235);
}

#nav-getresources {
    list-style: none;
    font-size: large;
    letter-spacing: 1px;
    color: black;
    float: left;
    position: absolute;
    left: 40%;

}

.nav-bar #nav-getresources a {
    text-decoration: none;
    color: black;
}

#nav-getresources a:hover {
    /*background-color: rgb(202, 202, 202);*/
    color: rgb(235, 235, 235);
}

#nav-login {
    list-style: none;
    font-size: large;
    letter-spacing: 1px;
    color: black;
    float: left;
    position: absolute;
    left: 83%;

}

.nav-bar #nav-login a {
    text-decoration: none;
    color: rgb(0, 255, 0);
}

#nav-login a:hover {
    color: rgb(0, 255, 0);
}

#nav-signup {
    list-style: none;
    font-size: large;
    letter-spacing: 1px;
    color: black;
    float: left;
    position: absolute;
    left: 90%;
}

.nav-bar #nav-signup a {
    text-decoration: none;
    color: rgb(0, 255, 0);
}

#nav-signup a:hover {
    color: rgb(0, 255, 0);
}

#nav-blog {
    list-style: none;
    font-size: large;
    letter-spacing: 1px;
    float: left;
    position: absolute;
    left: 55%;

}

.nav-bar #nav-blog a {
    text-decoration: none;
    color: black;
}

#nav-blog a:hover {
    /*background-color: rgb(202, 202, 202);*/
    color: rgb(235, 235, 235);
}

.login-image {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 50%;
    height: 100%;
    opacity: 95%;
    z-index: -2;
}

.title {
    position: relative;
    top: 20px;
    left: 25px;
    text-align: center;
    margin-bottom: 60px;
    color: rgb(68, 68, 68);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    font-size: 25px;
}

input {
    background: none;
    width: 250px;
    height: 25px;
    border-width: 1px;
    padding-left: 10px;
    margin: 5px 0px 20px 0px;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;

}

input:hover {
    border-color: rgb(172, 211, 211);
    transition: 0.2s;
}


.forms p {
    position: relative;
    top: 10px;
    color: rgb(68, 68, 68);
    font-size: 14px;
    padding-bottom: 10px;
}

.btn-signin {
    position: relative;
    top: -10px;
    left: 40%;
    background-color: rgb(112, 112, 112);
    border: none;
    width: 115px;
    height: 30px;
    text-align: center;
    color: white;
    font-size: 14px;
    border-radius: 20px;
}

.btn-signin:hover {
    background-color: rgb(56, 56, 56);
    transition: 0.2s;
}

.forgot {
    position: relative;
    left: 100%;
    top: -30px;
    color: blue;
}

a {
    text-decoration: none;
}

.forgot:hover {
    color: blue;
    text-decoration: dashed;
}

.errorMessage {
    position: relative;
    top: 5px;
    left: -30px;
    padding-left: 30px;
    color: red;
}

.successMessage {
    color: green;
}